@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

#back {
  font-family: "Anonymous Pro";
  font-size: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  width: 15vw;
  cursor: none;
  z-index: 11;
}


#pinkbutton1 {
  position: fixed;
  top: 10px;
  right: 1vw;
  height: auto;
  width: 7vw;
  cursor: none;
  z-index: 11;
}
#redheartbutton1 {
  position: fixed;
  top: 30px;
  right: 6vw;
  height: auto;
  width: 6vw;
  cursor: none;
  z-index: 11;
  transform: rotate(-10deg);
  cursor: pointer;
  animation: hithere 2s ease infinite;
}
@keyframes hithere {
  30% { transform: rotate(-7deg) scale(1.1); }
  50% { transform: rotate(7deg) scale(1.1); }
  70% { transform: rotate(0deg) scale(1.1); }
}
#hover-text {
  position: fixed;
  top: 40px;
  right: 7.5vw;
  font-size: 30px;
  font-family: "Anonymous Pro";
  font-weight: bold;
  width: 5vw;
  line-height: 12px;
  color: black;
  display: none;
  z-index: 11;
  transform: rotate(-10deg);
}
i {
  font-size: 10px;
}
#greenplaidbutton {
  position: fixed;
  top: 70px;
  right: 2vw;
  height: auto;
  width: 5vw;
  cursor: none;
  z-index: 11;
  transform: rotate(-10deg);
}




body {
  margin: 0;
  height: 100%;
  font-size: 1.2em;
/*   overflow: hidden; */
}

#doilycorner1 {
  filter: brightness(110%);
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  width: 20vw;
  cursor: none;
  z-index: 10;
}

.main-mushy {
  width: 70%;
  max-width: 400px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
  .main-mushy {
    width: 90%;
    max-width: none;
  }
}

.conch {
  width: 20%;
  min-height: 100px;
  left: 0;
  position: absolute;
  transform: rotate(20deg);
}

.greenshell {
  width: 20%;
  min-height: 100px;
  top: 50%;
  left: 0;
  position: absolute;
  transform: rotate(-20deg);
}

h1 {
  font-family: "Anonymous Pro", "Times New Roman";
}

p {
  font-family: "Anonymous Pro";
/*   font-weight: bold; */
  margin-top: 10vh;
  margin-bottom: 10vh;
}

b {
  color: #85c2ff;
}

#spacer {
  margin: 10vh;
}

#fancy {
  font-size: calc(35px - .5vw);
}

@media only screen and (max-width: 1000px) {
  #fancy {
    font-size: 15px;
    height: auto;
  }
}

#left, #right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw;
  overflow: hidden;
  background-color: #f0f0f0;
}

#left {
  left: 0;
  background-color: white;
}

#right {
  right: 0;
  height: 100%;
  background-color: #c9e4ff;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), 
                    repeating-linear-gradient(0deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
  background-attachment: fixed;
  text-align: center;
}

.scroll-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 15px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 10%;
}

/* hide scrollbars */
.scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin: 15px;
}

@media screen and (max-width: 500px) {
  #left {
    width: 100vw;
  }
  
  #right {
    display: none;
  }
}






.grid-image {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;
}

section .grid-image {
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* section .grid-image:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
} */

section {
  text-align: center;
/*   padding: 2rem 3%; */
  margin-top: 20px;
/*   min-height: 200px; */
/*   margin-bottom: 3%; */
}

section .grid-image:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 480px) {
  section {
    columns: 1;
/*     padding: 2rem 10% 10%; */
    margin-bottom: 100%;
  }
}

@media screen and (min-width: 768px) {
  section {
    columns: 2;
    column-gap: 1rem;
/*     padding: 2rem 10% 10%; */
    margin-bottom: 30%;
  }
}

@media screen and (min-width: 1024px) {
  section {
    columns: 2;
    column-gap: 1.5rem;
/*     padding: 2rem 10% 50%; */
    margin-bottom: 40%;
  }
}
